.stars {    
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQMAAAC6caSPAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAIVJREFUeAHt2SEOwkAQhtFJKuqKRRGOgKzgUMgKRI/G0ZDoacNkN/ue/zJ+/ugBcI+01/EEAGBc04FkP58AVFoi7VaSLAEAAPB/j0hbK678AADMkXbZG03mGA0AAKsP3JgAAGDa88knsuZ8Mp1M6gEAPFtNrtEjtkh7lyRb3/PAWpS0BPgC0PMMdOEjXqoAAAAASUVORK5CYII=');
  }
  &:after {
      background-size: 150px;
      opacity: 0.6;
      animation: blinkLighter 5s infinite ease-out, rotate-rew 600s infinite linear;
  }
  &:before {
      background-size: 250px;
      opacity: 0.4;
      animation: blink 5s infinite ease-out 2s, rotate 800s infinite linear;
  }
}

@keyframes blink {
  0% { opacity:  0.4; }
  50% { opacity: 1; }
  100% { opacity:  0.4; }
}
@keyframes blinkLighter {
  0% { opacity:  0.6; }
  50% { opacity: 1; }
  100% { opacity:  0.6; }
}
@keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
@keyframes rotate-rew {
  0% { transform: rotate(0); }
  100% { transform: rotate(-360deg); }
}