.aboutMeDiv {
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: 'Montserrat';

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .aboutMeDivTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    .text-content {
      margin-top: -2.5rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 40%;

      .btnDiv {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
    }

    .profile-pic-div {
      display: flex;
      justify-content: center;
      align-items: center;

      #selfie {
        width: auto;
        height: 60%;
      }

    }
  }
}

.button1 {
  display: inline-block;
  background-color: #FC0A9D;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  font-size: 1rem;
}

.button1:hover {
  color: white;
  /* color: #FC0A9D; */
  background-color: #282623;
}


@media screen and (max-width: 480px) {
  .aboutMeDiv {

    .aboutMeDivTwo {
      display: flex;
      flex-direction: column;
      text-align: center;

      .text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-size: 0.8rem;
        margin: auto;
      }

      .profile-pic-div {
        display: flex;
        justify-content: center;
        align-self: center;

        #selfie {
          width: 30%;
        }

      }
    }

  }
}