.imgGalleryBackground {
  width: 100vw;
  height: 100vh;
  background-color: #282623;
  font-family: 'Montserrat';

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 /*  .w-100 {
    width: 30%;
    color: red;
    
  } */
}