.aboutMeDiv {
  width: 100vw;
  height: 100vh;
  background-color: white;
  /* background-color: #282623; */
  background-image: linear-gradient(to bottom, #282623);
  display: flex;
  /*  justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat';

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;

  .aboutMeDivTwo {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

    .text-content {
      text-align: center;
      justify-content: center;
      flex-direction: column;
      width: 55%;


      a {
        text-decoration: none;
        color: rgba(175, 177, 186, 0.61);
        word-break: break-word;
      }

      .textStyle {
        font-family: 'Cedarville Cursive', cursive;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .textStyleTwo {
        font-size: 0.9rem;
        font-weight: bold;
      }

      .textBox {
        font-size: 0.8rem;

      }

      .btnDiv {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
    }

    .profile-pic-div {
      display: flex;
      justify-content: center;
      align-items: center;

      #selfie {
        width: 60%;
      }

    }

    .event-pic-div {
      display: flex;
      justify-content: center;
      align-items: center;

      #event4u {
        width: 50%;
        height: auto;
      }

    }

    .pinky-pic-div {
      display: flex;
      justify-content: center;
      align-items: center;

      #pinky {
        width: 60%;
        height: auto;
      }

    }
  }
}

.button1 {
  display: inline-block;
  background-color: black;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  font-size: 1rem;
}

#styleDiv {
  border-radius: '5px';
  background-color: #282623;
  display: flex;
  overflow: auto;
  max-width: 50%;
  box-shadow: none;
  margin-top: 2rem;
  padding: 1rem;
  margin: auto;
  font-family: 'Montserrat';
  flex-direction: column;
  padding: 1rem;
  height: 60%;
}

#styleDivAbout {
  border-radius: '5px';
  background-color: #282623;
  display: flex;
  overflow: auto;
  max-width: 50%;
  box-shadow: none;
  margin-top: 2rem;
  padding: 1rem;
  margin: auto;
  font-family: 'Montserrat';
  flex-direction: column;
  padding: 1rem;
  height: 60%;
}



.button1:hover {
  color: white;
  /* color: #FC0A9D; */
  background-color: rgb(49, 53, 71);
}


@media screen and (max-width: 480px) {
  .aboutMeDiv {

    .aboutMeDivTwo {
      display: flex;
      flex-direction: column;
      text-align: center;

      .text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-size: 0.8rem;
        margin: auto;
      }

      .event-pic-div {
        display: flex;
        justify-content: center;
        align-self: center;

        #event4u {
          width: 30%;
        }

      }
    }

  }

  #styleDiv {
    min-width: 90%;
    margin-top: 4rem;
    padding: 0.5rem;
  }

  #styleDivAbout {
    min-width: 90%;
    margin-top: 4rem;
    padding: 0.5rem;
  }
}