#event4udiv {
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: 'Montserrat';

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  #event4udivTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    .text-content-event {
      margin-top: 1rem;
      margin-left: 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 40%;

      a {
        text-decoration: none;
        color: rgba(175, 177, 186, 0.61);
        word-break: break-word;
      }

      .textStyleEvent {
        font-family: 'Cedarville Cursive', cursive;
        font-size: 2rem;
        color: #a4161a;

    
      }

 
    }

  
    .event-pic-div {
      display: flex;
      justify-content: center;
      align-items: center;

      #event4u {
        width: 50%;
        height: auto;
      }
    
    }

  /*   .pinky-pic-div {
      display: flex;
      justify-content: center;
      align-items: center;

      #pinky {
        width: 60%;
        height: auto;
      }
    
    } */
  }
}

@media screen and (max-width: 480px) {
  
  #event4udiv {

    .event4udivTwo {
      display: flex;
      flex-direction: column;
      text-align: center;

      .text-content-event {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-size: 0.8rem;
        margin: auto;
      }

      .event-pic-div {
        display: flex;
        justify-content: center;
        align-self: center;

        #event4u {
          width: 30%;
        }

      }
    }

  }

/*   #styleDiv {
    min-width: 90%;
    margin-top: 4rem;
    padding: 0.5rem;
  }
  #styleDivAbout {
    min-width: 90%;
    margin-top: 4rem;
    padding: 0.5rem;
  } */


  
}