.skillDesign {
  width: 100vw;
  height: 100vh;
  background-color: white;
  /* background-color: #282623; */
  background-image: linear-gradient(to bottom, #282623);
  display: flex;
  /*  justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat';

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;

  .skillDivDesign {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    .text-content-skill-design {
      margin-top: 10rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 40%;

      .textStyle {
        font-family: 'Cedarville Cursive', cursive;
        font-size: 2rem;
        color: black;
        margin: 0;
      }

      .btnDiv-design {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
    }

    .skillRatesDiv-design {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%;

      .info-design {
        width: 90%;
        display: flex;
        align-self: center;
        justify-content: space-between;

      }

      .line6 {
        background: linear-gradient(to right,
        black 0%,
        black 40%,
        rgba(108, 114, 139, 0.61) 40%,
        rgba(108, 114, 139, 0.61) 100%);
        width: 95%;
        height: 30%;
        width: 90%;
        display: flex;
        margin-bottom: 5px;
        align-self: center;
        justify-content: space-between;
      }

      .line7 {
        background: linear-gradient(to right,
        black 0%,
        black 50%,
        rgba(108, 114, 139, 0.61) 50%,
        rgba(108, 114, 139, 0.61) 100%);
        width: 95%;
        height: 30%;
        width: 90%;
        display: flex;
        margin-bottom: 5px;
        align-self: center;
        justify-content: space-between;
      }

      .line8 {
        background: linear-gradient(to right,
        black 0%,
        black 45%,
        rgba(108, 114, 139, 0.61) 45%,
        rgba(108, 114, 139, 0.61) 100%);
        width: 95%;
        height: 30%;
        width: 90%;
        display: flex;
        margin-bottom: 5px;
        align-self: center;
        justify-content: space-between;
      }

      .line9 {
        background: linear-gradient(to right,
        black 0%,
        black 20%,
        rgba(108, 114, 139, 0.61)20%,
        rgba(108, 114, 139, 0.61) 100%);
        width: 95%;
        height: 30%;
        width: 90%;
        display: flex;
        margin-bottom: 5px;
        align-self: center;
        justify-content: space-between;
      }

      .line10 {
        background: linear-gradient(to right,
        black 0%,
        black 35%,
        rgba(108, 114, 139, 0.61) 35%,
        rgba(108, 114, 139, 0.61) 100%);
        width: 95%;
        height: 30%;
        width: 90%;
        display: flex;
        margin-bottom: 5px;
        align-self: center;
        justify-content: space-between;
      }

    }
  }
}

/* .button1 {
  display: inline-block;
  background-color: rgb(49, 53, 71);
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  font-size: 1rem;
}

.button1:hover {
  color: white;
  /* color: #FC0A9D; */
 /*  background-color: rgba(108, 114, 139, 0.61);
}


 */

@media screen and (max-width: 480px) {
  .aboutMeDiv {

    .aboutMeDivTwo {
      display: flex;
      flex-direction: column;
      text-align: center;

      .text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-size: 0.8rem;
        margin: auto;
      }

      .profile-pic-div {
        display: flex;
        justify-content: center;
        align-self: center;

        #selfie {
          width: 30%;
        }

      }
    }

  }
}