.footer {
  width: 100vw;
  height: 100vh;
  background-color: #282623;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    max-width: 75%;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 2rem;
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 0;
    max-width: 75%;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: #FC0A9D;
    word-break: break-word;
  }

}

@media screen and (max-width: 480px) {
  .footer {

    h3 {
      max-width: 85%;
      font-size: 1rem;
      text-align: center;

      h4 {
        max-width: 75%;
        text-align: center;

        font-size: 1rem;
      }
    }
  }
}